<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}


            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>


       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">FIRMA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('crm.index') }}">CRM <span class="sr-only">(current)</span></a>
                        </li>

                        <li>
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                        </li>
                        <li>

                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </nav>




       {% block body %}{% endblock %}



       {% block javascripts %}
           {{ encore_entry_script_tags('app') }}
       {% endblock %}
    </body>
</html>
