<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}


            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>


       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">FIRMA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('crm.index') }}">CRM <span class="sr-only">(current)</span></a>
                        </li>

                        <li>
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                        </li>
                        <li>

                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </nav>




       {% block body %}
           {%  block sidebar %}

               <div class="usermenu">
                   <h1>{{ app.user.username }}</h1>
                   <br/>

                   <div id="accordion">

                       {% if is_granted('ROLE_ADMIN') %}
                           <h5>
                               <a  data-toggle="collapse"  href="#panel" aria-expanded="true" aria-controls="panel" >
                                   PANEL ADMINISTRATORA
                               </a>
                           </h5>
                           <div class="collapse" id="panel" data-parent="#accordion">
                               <div class="list-group">

                                   <ul>
                                       <li>
                                           <a href="{{path('users.index')}}">lista pracowników</a>
                                       </li>
                                       <li>
                                           <a href="{{ path('register') }}">dodaj pracownika</a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                       {% endif %}

                       <h5>
                           <a  data-toggle="collapse"  href="#klienci" aria-expanded="true" aria-controls="klienci" >
                               KLIENCI
                           </a>
                       </h5>
                       <div class="collapse" id="klienci" data-parent="#accordion">
                           <div class="list-group">
                               <ul>
                                   <li>
                                       <a href="{{ path('clients.index') }}">przeglądaj</a>
                                   </li>
                                   <li>
                                       <a href="{{ path('clients.create') }}">dodaj klienta</a>
                                   </li>
                               </ul>
                           </div>
                       </div>



                       <h5>
                           <a  data-toggle="collapse" href="#zlecenia" aria-expanded="false" aria-controls="zlecenia">
                               ZLECENIA
                           </a>
                       </h5>
                       <div class="collapse" id="zlecenia" data-parent="#accordion">
                           <div class="list-group">
                               <ul>
                                   <li>
                                       <a href="{{path('placing.index')}}">Przeglądaj</a>
                                   </li>
                                   <li>
                                       <a href="{{ path('placing.create') }}">dodaj zlecenie</a>
                                   </li>
                                   <li>
                                       <a href="#">nadchodzące</a>
                                   </li>
                                   <li>
                                       <a href="#">zrealizowane</a>
                                   </li>
                                   <li>
                                       <a href="#">odrzucone</a>
                                   </li>
                               </ul>
                           </div>
                       </div>

                       <h5>
                           <a  data-toggle="collapse" href="#platnosci" aria-expanded="false" aria-controls="platnosci">
                               PŁATNOŚCI
                           </a>
                       </h5>
                       <div class="collapse" id="platnosci" data-parent="#accordion">
                           <div class="list-group">
                               <a href="#">
                                   <ul>
                                       <li>
                                           <a href="#">otrzymane</a>
                                       </li>
                                       <li>
                                           <a href="#">niezapłacone</a>
                                       </li>
                                   </ul>
                               </a>
                           </div>
                       </div>

                       <h5>
                           <a  data-toggle="collapse" href="#faktury" aria-expanded="false" aria-controls="faktury">
                               FAKTURY
                           </a>
                       </h5>
                       <div class="collapse" id="faktury" data-parent="#accordion">
                           <div class="list-group">
                               <a href="#">
                                   <ul>
                                       <li>
                                           <a href="#">wystawione</a>
                                       </li>
                                       <li>
                                           <a href="#">do wystawienia</a>
                                       </li>
                                   </ul>
                               </a>
                           </div>
                       </div>

                       {% if not is_granted('ROLE_ADMIN') %}
                           <h5>
                               <a  data-toggle="collapse" href="#pracownicy" aria-expanded="false" aria-controls="pracownicy">
                                   PRACOWNICY
                               </a>
                           </h5>
                           <div class="collapse" id="pracownicy" data-parent="#accordion">
                               <div class="list-group">
                                   <a href="#">
                                       <ul>
                                           <li>
                                               <a href="#">przeglądaj</a>
                                           </li>
                                       </ul>
                                   </a>
                               </div>
                           </div>
                       {% endif %}

                   </div>
               </div>

           {% endblock %}

           {% block flashmessage %}
               {% for message in app.flashes('success') %}
                   <div class="alert alert-success">
                       {{ message }}
                   </div>
               {% endfor %}

               {% for message in app.flashes('removed') %}
                   <div class="alert alert-danger">
                       {{ message }}
                   </div>
               {% endfor %}
           {% endblock %}
       {% endblock %}



       {% block javascripts %}
           {{ encore_entry_script_tags('app') }}
       {% endblock %}
    </body>
</html>
