{% extends ('base.html.twig') %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">

            {%  block sidebar %}

                <div class="usermenu">
                    <h1>{{ app.user.username }}</h1>
                    <br/>

                    <div id="accordion">

                        {% if is_granted('ROLE_ADMIN') %}
                            <h5>
                                <a  data-toggle="collapse"  href="#panel" aria-expanded="true" aria-controls="panel" >
                                    PANEL ADMINISTRATORA
                                </a>
                            </h5>
                                <div class="collapse" id="panel" data-parent="#accordion">
                                    <div class="list-group">

                                        <ul>
                                            <li>
                                                <a href="{{path('crm.users')}}">lista pracowników</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('register') }}">dodaj pracownika</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        {% endif %}

                            <h5>
                                <a  data-toggle="collapse"  href="#klienci" aria-expanded="true" aria-controls="klienci" >
                                    KLIENCI
                                </a>
                            </h5>
                                <div class="collapse" id="klienci" data-parent="#accordion">
                                    <div class="list-group">
                                        <ul>
                                            <li>
                                                <a href="{{ path('crm.clients') }}">przeglądaj</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('crm.create') }}">dodaj klienta</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>



                            <h5>
                                <a  data-toggle="collapse" href="#zlecenia" aria-expanded="false" aria-controls="zlecenia">
                                    ZLECENIA
                                </a>
                            </h5>
                                <div class="collapse" id="zlecenia" data-parent="#accordion">
                                    <div class="list-group">
                                            <ul>
                                                <li>
                                                    <a href="{{path('placing.index')}}">Przeglądaj</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('placing.create') }}">dodaj zlecenie</a>
                                                </li>
                                                <li>
                                                    <a href="#">nadchodzące</a>
                                                </li>
                                                <li>
                                                    <a href="#">zrealizowane</a>
                                                </li>
                                                <li>
                                                    <a href="#">odrzucone</a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>

                            <h5>
                                <a  data-toggle="collapse" href="#platnosci" aria-expanded="false" aria-controls="platnosci">
                                    PŁATNOŚCI
                                </a>
                            </h5>
                                <div class="collapse" id="platnosci" data-parent="#accordion">
                                    <div class="list-group">
                                        <a href="#">
                                            <ul>
                                                <li>
                                                    <a href="#">otrzymane</a>
                                                </li>
                                                <li>
                                                    <a href="#">niezapłacone</a>
                                                </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>

                            <h5>
                                <a  data-toggle="collapse" href="#faktury" aria-expanded="false" aria-controls="faktury">
                                        FAKTURY
                                </a>
                            </h5>
                                <div class="collapse" id="faktury" data-parent="#accordion">
                                    <div class="list-group">
                                        <a href="#">
                                            <ul>
                                                <li>
                                                    <a href="#">wystawione</a>
                                                </li>
                                                <li>
                                                    <a href="#">do wystawienia</a>
                                                </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>

                        {% if not is_granted('ROLE_ADMIN') %}
                            <h5>
                                <a  data-toggle="collapse" href="#pracownicy" aria-expanded="false" aria-controls="pracownicy">
                                    PRACOWNICY
                                </a>
                            </h5>
                                <div class="collapse" id="pracownicy" data-parent="#accordion">
                                    <div class="list-group">
                                        <a href="#">
                                            <ul>
                                                <li>
                                                    <a href="#">przeglądaj</a>
                                                </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                        {% endif %}

                    </div>
                </div>

            {% endblock %}
        </div>

        <div class="col">
            <h2>Strona główna crm</h2>
        </div>

    </div>
</div>
{% endblock %}
