{% extends ('base.html.twig') %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                {{ block("sidebar", 'base.html.twig') }}
            </div>
            <div class="col">
                <div class="details">
                    <h1>{{ user.name }} {{ user.surname }}</h1>
                    <hr>
                    Nazwa użytkownika:  {{ user.username }}<br/>
                    Miasto:             {{ user.city }}<br/>
                    Adres zamieszkania: {{ user.address }}<br/>
                    Telefon:            {{ user.phone }}<br/><br/>
                    <a class="btn btn-danger" role="button" href="{{ path('users.delete', {id:user.id}) }}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}